<%= react_component('cars/CarsComponent', {cars: @cars}) %>
<div class="digg_pagination">
<div class="page_info">
  <%= page_entries_info @cars %>
</div>
<%= will_paginate @cars, :container => false %>
</div>