<div class="btn-group" role="group" aria-label="Basic example">
  <a href="/rents" class="btn btn-primary">RNV</a>
  <a href="" class="btn btn-primary">Web</a>
  <a href="" class="btn btn-primary">GIS DATA</a>
</div>