<%= react_component('songs/ShowComponent', {songs: @songs}) %>
<div class="digg_pagination">
<div class="page_info">
  <%= page_entries_info @songs %>
</div>
<%= will_paginate @songs, :container => false %>
</div>